<% @products.each do |e| %>
    <%= e.name %>
    <%= e.price %>円
    <%= link_to '削除', "products/#{e.id}",method: :delete %>
    <%= link_to 'カートに入れる',new_cart_item_path(product_id: e.id),method: :get %>
    <br>
<% end %>

 <p><%= link_to '商品を登録','/products/new' %></p>
 <p><%= link_to 'カートをみる',cart_path(current_cart)%></p>